Let's start with your project: 

Are you a data scientist? 

I think you are an awesome a data scientist.

### **Problem** 
**Our goal is to create a predictive model that can answer the following question:**

**What kind of people had a better chance of surviving?**

**Data about passengers:**
*   Name
*   Age
*   Gender.

## Install and Import Libraries
Let's install PySpark:

In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.1.2)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9)

In [ ]:
pip install findspark

Requirement already satisfied: findspark in /usr/local/lib/python3.7/dist-packages (1.4.2)

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType, DoubleType
from pyspark.sql import functions as F
from pyspark.sql.functions import *

## Build Spark Session

In [ ]:
spark = SparkSession.builder.getOrCreate()

## Data Loading

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test (5).csv
Saving train.csv to train (5).csv

You have two datasets: 
* Train  
* Test.

Read two datasets: 
* Train
* Test.

In [ ]:
schema = StructType([ \
    StructField("PassengerId",DoubleType(),True), \
    StructField("Survived",DoubleType(),True), \
    StructField("Pclass",DoubleType(),True), \
    StructField("Name", StringType(), True), \
    StructField("Sex", StringType(), True), \
    StructField("Age", DoubleType(), True), \
    StructField("SibSp", DoubleType(), True), \
    StructField("Parch", DoubleType(), True), \
    StructField("Ticket", StringType(), True), \
    StructField("Fare", DoubleType(), True), \
    StructField("Cabin", StringType(), True), \
    StructField("Embarked", StringType(), True)
  ])

In [ ]:
train = spark.read.csv('train.csv', header=True, schema=schema)
test = spark.read.csv('test.csv', header=True, schema=schema)

Let's work with train dataset:

**Confirm if this is a dataframe or not:**

In [ ]:
print(type(train))

<class 'pyspark.sql.dataframe.DataFrame'>

**Show 5 rows.**

In [ ]:
train.show(n=5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|        1.0|     0.0|   3.0|Braund, Mr. Owen ...|  male|22.0|  1.0|  0.0|       A/5 21171|   7.25| null|       S|
|        2.0|     1.0|   1.0|Cumings, Mrs. Joh...|female|38.0|  1.0|  0.0|        PC 17599|71.2833|  C85|       C|
|        3.0|     1.0|   3.0|Heikkinen, Miss. ...|female|26.0|  0.0|  0.0|STON/O2. 3101282|  7.925| null|       S|
|        4.0|     1.0|   1.0|Futrelle, Mrs. Ja...|female|35.0|  1.0|  0.0|          113803|   53.1| C123|       S|
|        5.0|     0.0|   3.0|Allen, Mr. Willia...|  male|35.0|  0.0|  0.0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

**Display schema for the dataset:**

In [ ]:
train.printSchema()

root
 |-- PassengerId: double (nullable = true)
 |-- Survived: double (nullable = true)
 |-- Pclass: double (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: double (nullable = true)
 |-- Parch: double (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

**Statistical summary:**

In [ ]:
train.summary().show()

+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|summary|      PassengerId|           Survived|            Pclass|                Name|   Sex|               Age|             SibSp|              Parch|            Ticket|             Fare|Cabin|Embarked|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|  count|              891|                891|               891|                 891|   891|               714|               891|                891|               891|              891|  204|     889|
|   mean|            446.0| 0.3838383838383838| 2.308641975308642|                null|  null| 29.69911764705882|0.5230078563411896|0.38159371492704824|260318.54916792738| 32.2042079685746| null|    null|
| stddev|257.3538420152301|0.48659245426485753|0.8360712409770491|                null|  null|14.526497332334035|1.1027434322934315| 0.8060572211299488|471609.26868834975|49.69342859718089| null|    null|
|    min|              1.0|                0.0|               1.0|"Andersson, Mr. A...|female|              0.42|               0.0|                0.0|            110152|              0.0|  A10|       C|
|    25%|            223.0|                0.0|               2.0|                null|  null|              20.0|               0.0|                0.0|           19996.0|           7.8958| null|    null|
|    50%|            446.0|                0.0|               3.0|                null|  null|              28.0|               0.0|                0.0|          236171.0|          14.4542| null|    null|
|    75%|            669.0|                1.0|               3.0|                null|  null|              38.0|               1.0|                0.0|          347743.0|             31.0| null|    null|
|    max|            891.0|                1.0|               3.0|van Melkebeke, Mr...|  male|              80.0|               8.0|                6.0|         WE/P 5735|         512.3292|    T|       S|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+

## EDA - Exploratory Data Analysis

**Display count for the train dataset:**

In [ ]:
tot = train.count()
print(tot)

891

**Can you answer this question:** 

**How many people survived, and how many didn't survive?** 

**Please save data in a variable.**

In [ ]:
sur = train.groupBy('Survived').count().where(train.Survived == 1.0).collect()[0][1]
n_sur = train.groupBy('Survived').count().where(train.Survived == 0.0).collect()[0][1]

**Display your result:**

In [ ]:
print('survived:', sur)
print('Not survived:', n_sur)

survived: 342
Not survived: 549

**Can you display your answer in ratio form?(Hint: Use "UDF" Function. (Hint: Use "UDF" Function. This is a hint you can use any method.)**

In [ ]:
print('sur_ratio: ', sur/tot)
print('n_sur_ratio: ', n_sur/tot)

sur_ratio:  0.3838383838383838
n_sur_ratio:  0.6161616161616161

**Can you get the number of males and females?**

In [ ]:
fem = train.groupBy('Sex').count().where(train.Sex == 'female').collect()[0][1]
male = train.groupBy('Sex').count().where(train.Sex == 'male').collect()[0][1]
print('fem', fem)
print('male', male)

fem 314
male 577

**1. What is the average number of survivors of each gender?**

**2. What is the number of survivors of each gender?**

(Hint: Group by the "sex" column. This is a hint you can use any method.)

In [ ]:
train.groupBy('Sex').avg('Survived').show()

+------+-------------------+
|   Sex|      avg(Survived)|
+------+-------------------+
|female| 0.7420382165605095|
|  male|0.18890814558058924|
+------+-------------------+

In [ ]:
train.groupBy('Sex').sum('Survived').show()

+------+-------------+
|   Sex|sum(Survived)|
+------+-------------+
|female|        233.0|
|  male|        109.0|
+------+-------------+

**Create temporary view PySpark:**

In [ ]:
train.createOrReplaceTempView("df")

**How many people survived, and how many didn't survive? By SQL:**

In [ ]:
spark.sql("select Survived, sum(Survived) from df group by Survived").show()

+--------+-------------+
|Survived|sum(Survived)|
+--------+-------------+
|     0.0|          0.0|
|     1.0|        342.0|
+--------+-------------+

**Can you display the number of survivors from each gender as a ratio?**

(Hint: Group by "sex" column. This is a hint you can use any method.)

**Can you do this via SQL?**

In [ ]:
spark.sql("select Sex, sum(Survived)/count(*) from df group by Sex").show()

+------+------------------------------------------+
|   Sex|(sum(Survived) / CAST(count(1) AS DOUBLE))|
+------+------------------------------------------+
|female|                        0.7420382165605095|
|  male|                       0.18890814558058924|
+------+------------------------------------------+

**Display a ratio for "p-class": SUM(Survived)/count for p-class**

In [ ]:
spark.sql("select sum(Survived)/count(Pclass) from df").show()

+-----------------------------------------------+
|(sum(Survived) / CAST(count(Pclass) AS DOUBLE))|
+-----------------------------------------------+
|                             0.3838383838383838|
+-----------------------------------------------+

**Let's take a break and continue after this.**

## Data Cleaning

**First and foremost, we must merge both the train and test datasets. (Hint: The union function can do this.)**

In [ ]:
res = train.union(test)

**Display count:**

In [ ]:
res.count()

1329

**Can you define the number of null values in each column?**

In [ ]:
res.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in res.columns]).show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|          0|       0|     0|   0|  0|265|    0|    0|     0|   0| 1021|       3|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+

**Create Dataframe for null values**

1. Column
2. Number of missing values.

In [ ]:
import numpy as np
res.withColumn('numNulls', np.sum(res[col].isNull().cast('int') for col in res.columns)).show()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|numNulls|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+
|        1.0|     0.0|   3.0|Braund, Mr. Owen ...|  male|22.0|  1.0|  0.0|       A/5 21171|   7.25| null|       S|       1|
|        2.0|     1.0|   1.0|Cumings, Mrs. Joh...|female|38.0|  1.0|  0.0|        PC 17599|71.2833|  C85|       C|       0|
|        3.0|     1.0|   3.0|Heikkinen, Miss. ...|female|26.0|  0.0|  0.0|STON/O2. 3101282|  7.925| null|       S|       1|
|        4.0|     1.0|   1.0|Futrelle, Mrs. Ja...|female|35.0|  1.0|  0.0|          113803|   53.1| C123|       S|       0|
|        5.0|     0.0|   3.0|Allen, Mr. Willia...|  male|35.0|  0.0|  0.0|          373450|   8.05| null|       S|       1|
|        6.0|     0.0|   3.0|    Moran, Mr. James|  male|null|  0.0|  0.0|          330877| 8.4583| null|       Q|       2|
|        7.0|     0.0|   1.0|McCarthy, Mr. Tim...|  male|54.0|  0.0|  0.0|           17463|51.8625|  E46|       S|       0|
|        8.0|     0.0|   3.0|Palsson, Master. ...|  male| 2.0|  3.0|  1.0|          349909| 21.075| null|       S|       1|
|        9.0|     1.0|   3.0|Johnson, Mrs. Osc...|female|27.0|  0.0|  2.0|          347742|11.1333| null|       S|       1|
|       10.0|     1.0|   2.0|Nasser, Mrs. Nich...|female|14.0|  1.0|  0.0|          237736|30.0708| null|       C|       1|
|       11.0|     1.0|   3.0|Sandstrom, Miss. ...|female| 4.0|  1.0|  1.0|         PP 9549|   16.7|   G6|       S|       0|
|       12.0|     1.0|   1.0|Bonnell, Miss. El...|female|58.0|  0.0|  0.0|          113783|  26.55| C103|       S|       0|
|       13.0|     0.0|   3.0|Saundercock, Mr. ...|  male|20.0|  0.0|  0.0|       A/5. 2151|   8.05| null|       S|       1|
|       14.0|     0.0|   3.0|Andersson, Mr. An...|  male|39.0|  1.0|  5.0|          347082| 31.275| null|       S|       1|
|       15.0|     0.0|   3.0|Vestrom, Miss. Hu...|female|14.0|  0.0|  0.0|          350406| 7.8542| null|       S|       1|
|       16.0|     1.0|   2.0|Hewlett, Mrs. (Ma...|female|55.0|  0.0|  0.0|          248706|   16.0| null|       S|       1|
|       17.0|     0.0|   3.0|Rice, Master. Eugene|  male| 2.0|  4.0|  1.0|          382652| 29.125| null|       Q|       1|
|       18.0|     1.0|   2.0|Williams, Mr. Cha...|  male|null|  0.0|  0.0|          244373|   13.0| null|       S|       2|
|       19.0|     0.0|   3.0|Vander Planke, Mr...|female|31.0|  1.0|  0.0|          345763|   18.0| null|       S|       1|
|       20.0|     1.0|   3.0|Masselmani, Mrs. ...|female|null|  0.0|  0.0|            2649|  7.225| null|       C|       2|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+
only showing top 20 rows

## Preprocessing

**Create Temporary view PySpark:**

In [ ]:
res.createOrReplaceTempView("df1")

**Can you show the "name" column from your temporary table?**

In [ ]:
spark.sql('select Name from df1').show()

+--------------------+
|                Name|
+--------------------+
|Braund, Mr. Owen ...|
|Cumings, Mrs. Joh...|
|Heikkinen, Miss. ...|
|Futrelle, Mrs. Ja...|
|Allen, Mr. Willia...|
|    Moran, Mr. James|
|McCarthy, Mr. Tim...|
|Palsson, Master. ...|
|Johnson, Mrs. Osc...|
|Nasser, Mrs. Nich...|
|Sandstrom, Miss. ...|
|Bonnell, Miss. El...|
|Saundercock, Mr. ...|
|Andersson, Mr. An...|
|Vestrom, Miss. Hu...|
|Hewlett, Mrs. (Ma...|
|Rice, Master. Eugene|
|Williams, Mr. Cha...|
|Vander Planke, Mr...|
|Masselmani, Mrs. ...|
+--------------------+
only showing top 20 rows

**Run this code:**

In [ ]:
import pyspark.sql.functions as F
res = res.withColumn('Title',F.regexp_extract(F.col("Name"),"([A-Za-z]+)\.",1))
res.createOrReplaceTempView('combined')

**Display "Title" column and count "Title" column:**

In [ ]:
spark.sql('select Title, count(Title) from combined group by Title').show()

+--------+------------+
|   Title|count(Title)|
+--------+------------+
|     Don|           1|
|    Miss|         257|
|Countess|           2|
|     Col|           4|
|     Rev|           9|
|    Lady|           2|
|  Master|          56|
|     Mme|           1|
|    Capt|           2|
|      Mr|         786|
|      Dr|          11|
|     Mrs|         186|
|     Sir|           2|
|Jonkheer|           2|
|    Mlle|           4|
|   Major|           3|
|      Ms|           1|
+--------+------------+

**We can see that Dr, Rev, Major, Col, Mlle, Capt, Don, Jonkheer, Countess, Ms, Sir, Lady, and Mme are really rare titles, so create Dictionary and set the value to "rare".**

In [ ]:
dic = {'Dr':'rare','Rev':'rare','Major':'rare','Col':'rare','Mlle':'rare','Capt':'rare','Don':'rare','Jonkheer':'rare','Countess':'rare','Ms':'rare',
       'Sir':'rare','Lady':'rare','Mme':'rare','Miss':'Miss','Master':'Master','Mr':'Mr','Mrs':'Mrs'}

**Run the function:**

In [ ]:
def impute_title(title):
    return dic[title]# Title_map is your dictionary. please change this name with your dictionary name.

imp = udf(lambda z:impute_title(z))

**Apply the function on "Title" column using UDF:**

In [ ]:
res_df = res.withColumn("Title", imp(F.col("Title")))
res_df.show(truncate=False)

+-----------+--------+------+-------------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+------+
|PassengerId|Survived|Pclass|Name                                                   |Sex   |Age |SibSp|Parch|Ticket          |Fare   |Cabin|Embarked|Title |
+-----------+--------+------+-------------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+------+
|1.0        |0.0     |3.0   |Braund, Mr. Owen Harris                                |male  |22.0|1.0  |0.0  |A/5 21171       |7.25   |null |S       |Mr    |
|2.0        |1.0     |1.0   |Cumings, Mrs. John Bradley (Florence Briggs Thayer)    |female|38.0|1.0  |0.0  |PC 17599        |71.2833|C85  |C       |Mrs   |
|3.0        |1.0     |3.0   |Heikkinen, Miss. Laina                                 |female|26.0|0.0  |0.0  |STON/O2. 3101282|7.925  |null |S       |Miss  |
|4.0        |1.0     |1.0   |Futrelle, Mrs. Jacques Heath (Lily May Peel)           |female|35.0|1.0  |0.0  |113803          |53.1   |C123 |S       |Mrs   |
|5.0        |0.0     |3.0   |Allen, Mr. William Henry                               |male  |35.0|0.0  |0.0  |373450          |8.05   |null |S       |Mr    |
|6.0        |0.0     |3.0   |Moran, Mr. James                                       |male  |null|0.0  |0.0  |330877          |8.4583 |null |Q       |Mr    |
|7.0        |0.0     |1.0   |McCarthy, Mr. Timothy J                                |male  |54.0|0.0  |0.0  |17463           |51.8625|E46  |S       |Mr    |
|8.0        |0.0     |3.0   |Palsson, Master. Gosta Leonard                         |male  |2.0 |3.0  |1.0  |349909          |21.075 |null |S       |Master|
|9.0        |1.0     |3.0   |Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)      |female|27.0|0.0  |2.0  |347742          |11.1333|null |S       |Mrs   |
|10.0       |1.0     |2.0   |Nasser, Mrs. Nicholas (Adele Achem)                    |female|14.0|1.0  |0.0  |237736          |30.0708|null |C       |Mrs   |
|11.0       |1.0     |3.0   |Sandstrom, Miss. Marguerite Rut                        |female|4.0 |1.0  |1.0  |PP 9549         |16.7   |G6   |S       |Miss  |
|12.0       |1.0     |1.0   |Bonnell, Miss. Elizabeth                               |female|58.0|0.0  |0.0  |113783          |26.55  |C103 |S       |Miss  |
|13.0       |0.0     |3.0   |Saundercock, Mr. William Henry                         |male  |20.0|0.0  |0.0  |A/5. 2151       |8.05   |null |S       |Mr    |
|14.0       |0.0     |3.0   |Andersson, Mr. Anders Johan                            |male  |39.0|1.0  |5.0  |347082          |31.275 |null |S       |Mr    |
|15.0       |0.0     |3.0   |Vestrom, Miss. Hulda Amanda Adolfina                   |female|14.0|0.0  |0.0  |350406          |7.8542 |null |S       |Miss  |
|16.0       |1.0     |2.0   |Hewlett, Mrs. (Mary D Kingcome)                        |female|55.0|0.0  |0.0  |248706          |16.0   |null |S       |Mrs   |
|17.0       |0.0     |3.0   |Rice, Master. Eugene                                   |male  |2.0 |4.0  |1.0  |382652          |29.125 |null |Q       |Master|
|18.0       |1.0     |2.0   |Williams, Mr. Charles Eugene                           |male  |null|0.0  |0.0  |244373          |13.0   |null |S       |Mr    |
|19.0       |0.0     |3.0   |Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)|female|31.0|1.0  |0.0  |345763          |18.0   |null |S       |Mrs   |
|20.0       |1.0     |3.0   |Masselmani, Mrs. Fatima                                |female|null|0.0  |0.0  |2649            |7.225  |null |C       |Mrs   |
+-----------+--------+------+-------------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+------+
only showing top 20 rows

**Display "Title" from table and group by "Title" column:**

In [ ]:
res_df.select('Title').groupBy('Title').count().show()

+------+-----+
| Title|count|
+------+-----+
|  rare|   44|
|  Miss|  257|
|Master|   56|
|    Mr|  786|
|   Mrs|  186|
+------+-----+

## **Preprocessing Age**

**Based on the "age" column mean, you will fill in the missing age values:**

In [ ]:
age_mean = res_df.agg({'Age':'avg'}).collect()[0][0]
age_mean

30.079501879699244

**Fill missing with "age" mean:**

In [ ]:
res_df = res_df.na.fill(value=age_mean,subset=["Age"])

## **Preprocessing Embarked**

**Select "Embarked" column, count them, order by count Desc, and save in grouped_Embarked variable:**

In [ ]:
grouped_Embarked = res_df.select('Embarked').groupBy('Embarked').count().orderBy(col('count').desc())

**Show "groupped_Embarked" your variable:**

In [ ]:
grouped_Embarked.show()

+--------+-----+
|Embarked|count|
+--------+-----+
|       S|  962|
|       C|  253|
|       Q|  111|
|    null|    3|
+--------+-----+

**Get max of groupped_Embarked:**

In [ ]:
ge_max = grouped_Embarked.agg({'Embarked':'max'}).collect()[0][0]
ge_max

'S'

**Fill missing values with max 'S' of grouped_Embarked:**

In [ ]:
res_df = res_df.na.fill(value=ge_max,subset=["Embarked"])

## **Preprocessing Cabin**

In [ ]:
res_df.show()

+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
|PassengerId|Survived|Pclass|                Name|   Sex|               Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked| Title|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
|        1.0|     0.0|   3.0|Braund, Mr. Owen ...|  male|              22.0|  1.0|  0.0|       A/5 21171|   7.25| null|       S|    Mr|
|        2.0|     1.0|   1.0|Cumings, Mrs. Joh...|female|              38.0|  1.0|  0.0|        PC 17599|71.2833|  C85|       C|   Mrs|
|        3.0|     1.0|   3.0|Heikkinen, Miss. ...|female|              26.0|  0.0|  0.0|STON/O2. 3101282|  7.925| null|       S|  Miss|
|        4.0|     1.0|   1.0|Futrelle, Mrs. Ja...|female|              35.0|  1.0|  0.0|          113803|   53.1| C123|       S|   Mrs|
|        5.0|     0.0|   3.0|Allen, Mr. Willia...|  male|              35.0|  0.0|  0.0|          373450|   8.05| null|       S|    Mr|
|        6.0|     0.0|   3.0|    Moran, Mr. James|  male|30.079501879699244|  0.0|  0.0|          330877| 8.4583| null|       Q|    Mr|
|        7.0|     0.0|   1.0|McCarthy, Mr. Tim...|  male|              54.0|  0.0|  0.0|           17463|51.8625|  E46|       S|    Mr|
|        8.0|     0.0|   3.0|Palsson, Master. ...|  male|               2.0|  3.0|  1.0|          349909| 21.075| null|       S|Master|
|        9.0|     1.0|   3.0|Johnson, Mrs. Osc...|female|              27.0|  0.0|  2.0|          347742|11.1333| null|       S|   Mrs|
|       10.0|     1.0|   2.0|Nasser, Mrs. Nich...|female|              14.0|  1.0|  0.0|          237736|30.0708| null|       C|   Mrs|
|       11.0|     1.0|   3.0|Sandstrom, Miss. ...|female|               4.0|  1.0|  1.0|         PP 9549|   16.7|   G6|       S|  Miss|
|       12.0|     1.0|   1.0|Bonnell, Miss. El...|female|              58.0|  0.0|  0.0|          113783|  26.55| C103|       S|  Miss|
|       13.0|     0.0|   3.0|Saundercock, Mr. ...|  male|              20.0|  0.0|  0.0|       A/5. 2151|   8.05| null|       S|    Mr|
|       14.0|     0.0|   3.0|Andersson, Mr. An...|  male|              39.0|  1.0|  5.0|          347082| 31.275| null|       S|    Mr|
|       15.0|     0.0|   3.0|Vestrom, Miss. Hu...|female|              14.0|  0.0|  0.0|          350406| 7.8542| null|       S|  Miss|
|       16.0|     1.0|   2.0|Hewlett, Mrs. (Ma...|female|              55.0|  0.0|  0.0|          248706|   16.0| null|       S|   Mrs|
|       17.0|     0.0|   3.0|Rice, Master. Eugene|  male|               2.0|  4.0|  1.0|          382652| 29.125| null|       Q|Master|
|       18.0|     1.0|   2.0|Williams, Mr. Cha...|  male|30.079501879699244|  0.0|  0.0|          244373|   13.0| null|       S|    Mr|
|       19.0|     0.0|   3.0|Vander Planke, Mr...|female|              31.0|  1.0|  0.0|          345763|   18.0| null|       S|   Mrs|
|       20.0|     1.0|   3.0|Masselmani, Mrs. ...|female|30.079501879699244|  0.0|  0.0|            2649|  7.225| null|       C|   Mrs|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
only showing top 20 rows

**Replace "cabin" column with first char from the string:**

In [ ]:
def firstChar(strr):
  if not strr:
    return strr
  return strr[0]
fudf = udf(lambda x: firstChar(x)) 
res_df = res_df.withColumn("Cabin", fudf(F.col("Cabin")))

**Show the result:**

In [ ]:
res_df.show()

+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
|PassengerId|Survived|Pclass|                Name|   Sex|               Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked| Title|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
|        1.0|     0.0|   3.0|Braund, Mr. Owen ...|  male|              22.0|  1.0|  0.0|       A/5 21171|   7.25| null|       S|    Mr|
|        2.0|     1.0|   1.0|Cumings, Mrs. Joh...|female|              38.0|  1.0|  0.0|        PC 17599|71.2833|    C|       C|   Mrs|
|        3.0|     1.0|   3.0|Heikkinen, Miss. ...|female|              26.0|  0.0|  0.0|STON/O2. 3101282|  7.925| null|       S|  Miss|
|        4.0|     1.0|   1.0|Futrelle, Mrs. Ja...|female|              35.0|  1.0|  0.0|          113803|   53.1|    C|       S|   Mrs|
|        5.0|     0.0|   3.0|Allen, Mr. Willia...|  male|              35.0|  0.0|  0.0|          373450|   8.05| null|       S|    Mr|
|        6.0|     0.0|   3.0|    Moran, Mr. James|  male|30.079501879699244|  0.0|  0.0|          330877| 8.4583| null|       Q|    Mr|
|        7.0|     0.0|   1.0|McCarthy, Mr. Tim...|  male|              54.0|  0.0|  0.0|           17463|51.8625|    E|       S|    Mr|
|        8.0|     0.0|   3.0|Palsson, Master. ...|  male|               2.0|  3.0|  1.0|          349909| 21.075| null|       S|Master|
|        9.0|     1.0|   3.0|Johnson, Mrs. Osc...|female|              27.0|  0.0|  2.0|          347742|11.1333| null|       S|   Mrs|
|       10.0|     1.0|   2.0|Nasser, Mrs. Nich...|female|              14.0|  1.0|  0.0|          237736|30.0708| null|       C|   Mrs|
|       11.0|     1.0|   3.0|Sandstrom, Miss. ...|female|               4.0|  1.0|  1.0|         PP 9549|   16.7|    G|       S|  Miss|
|       12.0|     1.0|   1.0|Bonnell, Miss. El...|female|              58.0|  0.0|  0.0|          113783|  26.55|    C|       S|  Miss|
|       13.0|     0.0|   3.0|Saundercock, Mr. ...|  male|              20.0|  0.0|  0.0|       A/5. 2151|   8.05| null|       S|    Mr|
|       14.0|     0.0|   3.0|Andersson, Mr. An...|  male|              39.0|  1.0|  5.0|          347082| 31.275| null|       S|    Mr|
|       15.0|     0.0|   3.0|Vestrom, Miss. Hu...|female|              14.0|  0.0|  0.0|          350406| 7.8542| null|       S|  Miss|
|       16.0|     1.0|   2.0|Hewlett, Mrs. (Ma...|female|              55.0|  0.0|  0.0|          248706|   16.0| null|       S|   Mrs|
|       17.0|     0.0|   3.0|Rice, Master. Eugene|  male|               2.0|  4.0|  1.0|          382652| 29.125| null|       Q|Master|
|       18.0|     1.0|   2.0|Williams, Mr. Cha...|  male|30.079501879699244|  0.0|  0.0|          244373|   13.0| null|       S|    Mr|
|       19.0|     0.0|   3.0|Vander Planke, Mr...|female|              31.0|  1.0|  0.0|          345763|   18.0| null|       S|   Mrs|
|       20.0|     1.0|   3.0|Masselmani, Mrs. ...|female|30.079501879699244|  0.0|  0.0|            2649|  7.225| null|       C|   Mrs|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+
only showing top 20 rows

**Create the temporary view:**

In [ ]:
res_df.createOrReplaceTempView("df2")

**Select "Cabin" column, count "Cabin" column, Group by "Cabin" column, Order By count DESC**

In [ ]:
spark.sql('select Cabin, count(Cabin) from df2 group by Cabin order by count(Cabin) desc').show()

+-----+------------+
|Cabin|count(Cabin)|
+-----+------------+
|    C|          82|
|    B|          77|
|    D|          52|
|    E|          51|
|    A|          23|
|    F|          18|
|    G|           4|
|    T|           1|
| null|           0|
+-----+------------+

**Fill missing values with "U":**

In [ ]:
res_df = res_df.na.fill(value='U', subset=["Cabin"])
res_df.select('Cabin').groupBy('Cabin').count().show()

+-----+-----+
|Cabin|count|
+-----+-----+
|    F|   18|
|    E|   51|
|    T|    1|
|    B|   77|
|    U| 1021|
|    D|   52|
|    C|   82|
|    A|   23|
|    G|    4|
+-----+-----+

**StringIndexer: A label indexer that maps a string column of labels to an ML column of label indices. If the input column is numeric, we cast it to string and index the string values. The indices are in [0, numLabels). By default, this is ordered by label frequencies so the most frequent label gets index 0. The ordering behavior is controlled by setting stringOrderType. Its default value is ‘frequencyDesc’.**

In [ ]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler
from pyspark.ml import Pipeline
from pyspark.ml.classification import RandomForestClassifier

**StringIndexer(inputCol=None, outputCol=None)**

In [ ]:
categoricalCols = [field for (field, dataType) in res_df.dtypes if dataType == "string"]
categoricalCols

['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked', 'Title']

In [ ]:
indexOutputCols = [x + "_Index" for x in categoricalCols]
indexOutputCols

['Name_Index',
 'Sex_Index',
 'Ticket_Index',
 'Cabin_Index',
 'Embarked_Index',
 'Title_Index']

In [ ]:
oheOutputCols = [x + "_OHE" for x in categoricalCols]
oheOutputCols

['Name_OHE', 'Sex_OHE', 'Ticket_OHE', 'Cabin_OHE', 'Embarked_OHE', 'Title_OHE']

In [ ]:
stringIndexer = StringIndexer(inputCols=categoricalCols,
                             outputCols=indexOutputCols,
                             handleInvalid='skip')

**OneHotEncoder(inputCols=None, outputCols=None)**

A one-hot encoder that maps a column of category indices to a column of binary vectors, with at most a single one-value per row that indicates the input category index. For example with 5 categories, an input value of 2.0 would map to an output vector of [0.0, 0.0, 1.0, 0.0]. The last category is not included by default (configurable via dropLast), because it makes the vector entries sum up to one, and hence linearly dependent. So an input value of 4.0 maps to [0.0, 0.0, 0.0, 0.0].

In [ ]:
oheEncoder = OneHotEncoder(inputCols=indexOutputCols,
                          outputCols=oheOutputCols)

In [ ]:
numericCols = [field for (field,dataType) in res_df.dtypes
              if ((dataType=='double')& (field!='Survived'))]
numericCols

['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [ ]:
assemblerInputs = oheOutputCols + numericCols
assemblerInputs

['Name_OHE',
 'Sex_OHE',
 'Ticket_OHE',
 'Cabin_OHE',
 'Embarked_OHE',
 'Title_OHE',
 'PassengerId',
 'Pclass',
 'Age',
 'SibSp',
 'Parch',
 'Fare']

**VectorAssembler: VectorAssembler(*, inputCols=None, outputCol=None). A feature transformer that merges multiple columns into a vector column.**

In [ ]:
vecAssembler = VectorAssembler(inputCols=assemblerInputs,outputCol='features')

**Use randomSplit function and split data to x_train, and X_test with 80% and 20% Consecutive**

In [ ]:
trainDF, testDF = res_df.randomSplit([.8,.2],seed=42)
print(f"There are {trainDF.count()} rows in the training set, and {testDF.count()} in the test set")

There are 1094 rows in the training set, and 235 in the test set

**Pipeline: ML Pipelines provide a uniform set of high-level APIs built on top of DataFrames that help users create and tune practical machine learning pipelines.**

**Build RandomForestClassifier model and use pipeline to fit and transform then display "prediction, Survived, features" columns**

In [ ]:
rf = RandomForestClassifier(featuresCol='features',labelCol='Survived')
pipeline = Pipeline(stages = [stringIndexer,oheEncoder,vecAssembler,rf])
pipelineModel = pipeline.fit(trainDF)
predDF = pipelineModel.transform(testDF)
predDF.select('features','Survived','prediction').show(5)

+--------------------+--------+----------+
|            features|Survived|prediction|
+--------------------+--------+----------+
|(1464,[600,811,11...|     0.0|       0.0|
|(1464,[533,1414,1...|     1.0|       1.0|
|(1464,[684,811,87...|     0.0|       0.0|
|(1464,[515,1225,1...|     1.0|       0.0|
|(1464,[366,811,11...|     1.0|       0.0|
+--------------------+--------+----------+
only showing top 5 rows

**Use MulticlassClassificationEvaluator and set the "labelCol" to "Survived",  "predictionCol" to "prediction", "metricName" to "accuracy"**

In [ ]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

# Create both evaluators
evaluatorMulti = MulticlassClassificationEvaluator(labelCol="Survived", predictionCol="prediction", metricName="accuracy")
acc =  evaluatorMulti.evaluate(predDF)
print(f"Accuracy is {acc:.1f}")

Accuracy is 0.8

**When you are finished send the project via Google classroom**
**Please let me know if you have any questions.**
* nabieh.mostafa@yahoo.com
* +201015197566 (Whatsapp)

**Don't Hate me, I push you to learn**

**I will help you to become an awesome data engineer.**

**Why did I say that "Data Engineer"?**

**Tricky question, but an optional question, if you would like to know the answer, ask me.**